{% extends "base.html" %}
{% block title %}tags{% endblock %}
{% block content %}
      <div class="page">
        <section class="panel posts-panel">
          <div class="panel-header">
            <span class="panel-icon" aria-hidden="true"></span>
            <span>tags</span>
          </div>

          <div class="panel-body posts-list">
            {% for term in terms %}
            <a href="{{ term.permalink }}" class="recent-item">
              <span class="recent-arrow" aria-hidden="true"></span>
              <span>{{ term.name }}</span>
              <span class="post-date">{{ term.pages | length }} posts</span>
            </a>
            {% endfor %}
          </div>
        </section>
      </div>
{% endblock %}
