{% extends "base.html" %}
{% block title %}{{ term.name }}{% endblock %}
{% block content %}
  <h1>{{ term.name }}</h1>
  {% if term.pages | length > 0 %}
  <p><strong>last modified on {{ term.pages[0].date | date(format="%b %d, %Y") }}</strong></p>
  {% endif %}
  <div class="blog-list">
    <ul>
      {% for page in term.pages %}
      <li>
        <span class="blog-title"><a href="{{ page.permalink }}">{{ page.title }}</a></span>
        <span class="blog-date">{{ page.date | date(format="%b %d, %Y") }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
