:root {
  --base-color: #f9f7f2;
  --text-color: #000000;
  --accent-color: #4242ff;
  --secondary-color: #414447;
}

.darkmode {
  --base-color: #000000;
  --text-color: #f9f7f2;
  --accent-color: #8989ff;
  --secondary-color: #bebbb8;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--base-color);
  color: var(--text-color);
  font-family: Arial, serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
}

#theme-toggle {
  cursor: pointer;
  color: var(--accent-color);
  width: fit-content;
}
#theme-toggle:hover {
  text-decoration: underline;
}

#page {
  max-width: 960px;
  margin: 40px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.blog-list {
  /*margin-top: 40px;
  padding: 24px 32px;*/
}

.blog-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.blog-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  font-size: 16px;
}

.blog-list li:first-child {
  border-top: none;
}

.blog-title a {
  color: var(--base-color);
  text-decoration: none;
}

.blog-title a:hover {
  text-decoration: underline;
}

.blog-date {
  font-size: 14px;
}

#sidebar {
  float: left;
  width: 260px;
  padding-right: 20px;
  box-sizing: border-box;
  font-size: 15px;
  padding-top: 10px;
}

#content {
  margin-left: 260px;
  padding-left: 20px;
  box-sizing: border-box;
}

.post-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto 20px auto;
  border-radius: 10px;
}

#content h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

#content p {
  margin: 0 0 15px 0;
}

#sidebar h2 {
  font-size: 16px;
  margin: 0 0 5px 0;
}

#sidebar ul {
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 0;
}

#sidebar li {
  margin: 0 0 4px 0;
}

#sidebar a {
  color: var(--accent-color);
  text-decoration: none;
}

#sidebar a:hover {
  text-decoration: underline;
}

#content a {
  color: var(--secondary-color);
  text-decoration: none;
}

#content a:hover {
  text-decoration: underline;
}

#page::after {
  content: "";
  display: block;
  clear: both;
}

@media (max-width: 700px) {
  #sidebar {
    float: none;
    width: auto;
    padding-right: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--text-color);
    padding-top: 0;
  }

  #content {
    margin-left: 0;
    padding-left: 0;
  }

  #page {
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
  }
}

