body {
    background-color: #5c5f77;
    color: #7287fd;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #5c5f77;
    color: #7287fd;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #7287fd;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    background: #5c5f77;
    color: #7287fd;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

