/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #000000;
}

h1 {
  text-align: left;
  color: #f7f7f7;
  width: 100%;
  padding-left: 30px;
  padding-bottom: 20px;
}

nav {
  padding-left: 30px;
  align-self: flex-start;
}

li {
  text-align: left;
  display: inline;
  color: #f7f7f7;
  width: 100%;
}

h2 {
  text-align: left;
  color: #f7f7f7;
  text-decoration: underline;
}

.blog-content {
  text-align: left;
  background-color: #000000;
  padding: 30px;
  border-radius: 10px;
}

.blog-content p {
  margin-bottom: 20px;
  color: #f7f7f7;
}

.blog-content img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 20px auto;
  text-align: center;
}

a:link {
  color: #0099cc;
  text-decoration: none;
}

a:visited {
  color: #7c3fbb;
  text-decoration: none;
}

a:hover {
  color: #a349c6;
  text-decoration: none;
}

a:active {
  color: #0099cc;
  text-decoration: none;
}

footer {
  margin-top: 30px;
  text-align: center;
  color: #f7f7f7;
  font-size: 0.9em;
}

.card {
  padding: 2em;
  border: 1px solid rgb(255 255 255);
  border-radius: 3px;
  background-color: #000000;
  text-align: left;
  padding: 20px 20px -5px 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  justify-content: center;
}

.card2 {
  width: 220px; /* Or whatever size you want */
  height: 220px; /* Fixed or responsive */
  overflow: hidden; /* Ensures image stays within rounded corners */
  border-radius: 10px;
  background: #000;
  position: relative;
}

.card-img {
  width: 100%; /* Ensures the image fills the card's width */
  height: 100%; /* Keeps the aspect ratio correct */
  display: block;
  object-fit: cover; /* Removes bottom whitespace */
  /* border-radius: 8px 8px 0 0; /* Optional: rounds the top corners */
  /* margin-bottom: 12px; /* Adds some space below the image */
}
