/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #32302f;
}

h1 {
    text-align: center;
    color: #fe8019;
    margin-bottom: 30px;
    text-transform: capitalize;
}

h2 {
  text-align: left;
  color: #fe8019;
}

.blog-content {
    text-align: left;
    background-color: #32302f;
    padding: 30px;
    border-radius: 10px;
}

.blog-content p {
    margin-bottom: 20px;
    color: #ebdbb2;
}

footer {
    margin-top: 30px;
    text-align: center;
    color: #fbf1c7;
    font-size: 0.9em;
}

