{% extends "base.html" %}
{% block title %}bookshelf{% endblock %}
{% block content %}
      <!-- ================= BOOKSHELF ================= -->

      <div class="page">
        <section class="panel bookshelf-page-panel">
          <div class="panel-header">
            <span class="panel-icon">◉</span>
            <span>bookshelf</span>
          </div>

          <div class="panel-body bookshelf">
            {% for book in page.extra.books %}
            <a class="book-spine" style="--book-h: {{ book.height }}px;" href="{{ book.url }}">
              <span class="book-title">{{ book.title }}</span>
              <span class="book-author">{{ book.author | upper }}</span>
            </a>
            {% endfor %}
          </div>
        </section>
      </div>
{% endblock %}
