{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
      <!-- ================= PAGE ================= -->

      <div class="page">
        <section class="panel about-panel">
          <div class="panel-header">
            <span class="panel-icon" aria-hidden="true"></span>
            <span>{{ page.title }}</span>
          </div>

          <div class="panel-body about-body">
            {{ page.content | safe }}
          </div>
        </section>
      </div>
{% endblock %}
