{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
      <!-- ================= POST ================= -->

      <div class="page">
        <article class="panel post-panel">
          <div class="panel-header">
            <span class="panel-icon" aria-hidden="true"></span>
            <span>{{ page.date | date(format="%b %d, %Y") | lower }}</span>
          </div>

          <div class="panel-body post-body">
            <h1>{{ page.title }}</h1>

            {{ page.content | safe }}
          </div>
        </article>
      </div>
{% endblock %}
